.QLuser{
    margin-top: 150px;
    margin-left: 50px;
    .list_user_component{
        .tab_user_list{
            .tab_component{
                display: flex;
                flex-direction: column;
                width: 200px;
                
                }
            }
            
        }
    }