.user{
    .list_user_component{
        .tab_component{
            display: inline-flex;
            flex-direction: column;
            gap: 20px;
            width: 300px;
            
        }
    }
}